<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675938641410-r0je32ff8lk97gmrf7a5436h0t2j53jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675938641410-r0je32ff8lk97gmrf7a5436h0t2j53jj</string>
	<key>API_KEY</key>
	<string>AIzaSyDbVOXfM8hhnA41WVIQRBLGu9TRXy3N1bw</string>
	<key>GCM_SENDER_ID</key>
	<string>675938641410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ananyas237.thunkabletodo</string>
	<key>PROJECT_ID</key>
	<string>thunkable-todo-6412a</string>
	<key>STORAGE_BUCKET</key>
	<string>thunkable-todo-6412a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675938641410:ios:400f6f71736ebc0761a91b</string>
</dict>
</plist>